<!DOCTYPE html>
<html>

<head>
    <title>Funding</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body style="background:#ecf0f1" ng-app="fundingApp">
    <div ng-controller="appController">
        <p class="text-center" style="font-weight:bold;font-size:20px;">Metaiot Technologies</p>
        <form class="form-inline container">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="email">Seed Round Amount</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="total_amount" ng-model="total_amount" ng-change="calcApplyifi()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">CAN Seed Round Amount</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="total_amount" ng-model="can_round_amount" ng-change="changeApp()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">Applyifi Round Amount</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="total_amount" ng-model="app_round_amount" ng-change="changeCan()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">CAN Contribution</label>
                        </td>
                        <td>{{can_contri}} %</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">Applyifi Contribution</label>
                        </td>
                        <td> {{applyifi_contri}} %</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pwd">CAN Amount for Tranche 2</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="can_amount" ng-change="calcApplyifi()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pwd">Applify Amount for Tranche 2</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="applyifi_amount" ng-change="calcApplyifi()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pwd">Total Tranche 2 Amount</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-disabled="true" ng-model="tranch_amount">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pwd">Upload CSV</label>
                        </td>
                        <td>
                            <input type="file" class="form-control" file-change="handler($event,files)" ng-model="MyFiles">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary" ng-click="calculate()" />
                        </td>
                        <td>
                            <p style="font-weight:bold;font-size:2rem;">Percentage of round in this tranch {{percentage_of_round}} %
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="form-group">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Investment Network Name</th>
                    <th>Individual Name</th>
                    <th>Total Amount by Individual</th>
                    <th>Tranch Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="datum in data">
                    <td>{{datum.investmentNetwork}}</td>
                    <td>{{datum.individualName}}</td>
                    <td>{{datum.individualAmount}}</td>
                    <td style="font-size:2rem">{{datum.individualContri}}</td>
                </tr>
            </tbody>
        </table>
        <a href ng-csv="exportArray" class="btn btn-primary" csv-header="getHeader()" filename="investmentDetail.csv">Export to Excel</a>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>